// navigation bar
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 0;
  align-items: flex-start;
}

.navbar-brand {
  margin-right: 0;
}

#mds-burger {
  z-index: 10;
}

.navbar-nav {
  height: 100vh;
}

#mds-navbar {
  font-size: $lead-font-size;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
  }
  &.mds-no--before,
  &.mds-no--before .navbar-brand {
    font-size: $font-size-base;
  }
  &.mds-no--before:before {
    display: none;
  }
}

.navbar-collapse {
  flex-basis: auto;
  width: 100%;
  align-items: flex-start;
  text-align: center;
}

.navbar-dark {
  .navbar-brand {
    color: $navbar-dark-brand-color;

    @include hover-focus {
      color: $navbar-dark-brand-hover-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-dark-color;

      @include hover-focus {
        color: $navbar-dark-hover-color;
      }

      &.disabled {
        color: $navbar-dark-disabled-color;
      }
    }

    .show > .nav-link,
    .nav-link.show {
      color: $navbar-dark-color;
    }

    .active > .nav-link,
    .nav-link.active {
      color: $navbar-dark-active-color;
    }
  }
}