// navigation bar
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 0;
  align-items: flex-start;
}

.nav-link,
.mds-menu-link {
  @include transition
}

.navbar-collapse {
  flex-basis: auto;
}

.mds-navbar-styler {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  transition: all 350ms ease-in-out;
}

.navbar-dark {
  .navbar-brand {
    color: $navbar-dark-brand-color;

    @include hover-focus {
      color: $navbar-dark-brand-hover-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-dark-color;

      @include hover-focus {
        color: $navbar-dark-hover-color;
      }

      &.disabled {
        color: $navbar-dark-disabled-color;
      }
    }

    .show > .nav-link,
    .nav-link.show {
      color: $navbar-dark-color;
    }

    .active > .nav-link,
    .nav-link.active {
      color: $navbar-dark-active-color;
    }
  }
}