// Options
$enable-gradients: true;

// typography
$font-family-sans-serif: "Raleway", "Helvetica Neue", Arial, sans-serif;

// font-weights
$font-weight-normal: 500;
$font-weight-bolder: 700;

// Navs
$nav-link-padding-y: 3rem;
$navbar-dark-color: #fff;
$navbar-dark-hover-color: rgb(129, 129, 129);
$navbar-dark-active-color: rgb(255, 196, 93);
$navbar-light-disabled-color: #fff;
$navbar-dark-toggler-border-color: transparent;
$navbar-dark-brand-color: $navbar-dark-color;
$navbar-dark-brand-hover-color: $navbar-dark-hover-color;

.font-black {
  font-weight: $font-weight-bolder;
}

// Grid containers
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 800px,
  xl: 900px
);