// navigation bar
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 0;
  align-items: flex-start;
}

.nav-link {
  @include transition
}

.navbar-collapse {
  flex-basis: auto;
}

.mds-navbar-styler {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  transition: all 350ms ease-in-out;
}