// custom scss for overriding bootstrap scss
$blue: #073ea5;
$purple: rgb(117, 27, 165);
$cyan: rgb(32, 177, 172);

// bootstrap scss imports + custom scss imports starting with 'mds-'

// required
@import "node_modules/bootstrap/scss/functions";
@import '_mds-variables';
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "_mds-gradients";

// optional
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/navbar";
@import '_mds-navbar';

// complete bootstrap sass
// @import 'node_modules/bootstrap/scss/bootstrap';

// custom scss

$h1-font-size: $font-size-base * 7;
$h2-font-size: $font-size-base * 8.665;

article {
  width: 100%;
}

section {
  width: 100%;
  height: 100%;
}

#hero {
  position: relative;
  height: 100vh;
  @include gradient-bg($blue);
  z-index: 0;
}

#hero::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: url('images/noisebg.png') repeat top left / 2rem;
  opacity: 0.5;
  z-index: 1;
}

.hero-title-box {
  position: relative;
  top: 40%;
  padding-top: 50%;
  color: #ffffff;
  overflow: hidden;
}

h1.hero-title-first,
h2.hero-title-second {
  position: absolute;
  top: 2rem;
  left: 10%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translate3d(0,0,0);
  font-size: $h1-font-size;
  width: 1000%;
  font-weight: $font-weight-bolder;
  transition: 150ms all ease-in-out;
  z-index: 3;
}

h2.hero-title-second {
  top: 8rem;
  left: 0;
  transform: translate3d(0,0,0);
  font-size: $h2-font-size;
}
